<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beacon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The following two permissions are not required to use
	     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="net.magis.BeaconPH.UI.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.magis.BeaconPH.UI.ReportPerson"
            android:label="@string/title_activity_report_person"
            android:parentActivityName="net.magis.BeaconPH.UI.MainActivity" >
        </activity>
        <activity
            android:name="net.magis.BeaconPH.UI.FoundPerson"
            android:label="@string/title_activity_found_person"
            android:parentActivityName="net.magis.BeaconPH.UI.ReportPerson" >
        </activity>
        <activity
            android:name="net.magis.BeaconPH.UI.RescuePerson"
            android:label="@string/title_activity_rescue_person"
            android:parentActivityName="net.magis.BeaconPH.UI.ReportPerson" >
        </activity>
        <activity
            android:name="net.magis.BeaconPH.UI.InformQuerier"
            android:label="@string/title_activity_inform_querier"
            android:parentActivityName="net.magis.BeaconPH.UI.MainActivity" >
        </activity>
        <activity
            android:name="net.magis.BeaconPH.UI.Extra.ListViewer"
            android:label="@string/title_activity_inform_querier"
            android:parentActivityName="net.magis.BeaconPH.UI.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
		<activity
            android:name="net.magis.BeaconPH.UI.Extra.MapView"
            android:label="@string/title_activity_inform_querier"
            android:parentActivityName="net.magis.BeaconPH.UI.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >            
        </activity>
		<activity
            android:name="net.magis.BeaconPH.UI.QueryLocation"
            android:label="@string/title_activity_inform_querier"
            android:parentActivityName="net.magis.BeaconPH.UI.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >            
        </activity>        
        <activity
            android:name="net.magis.BeaconPH.UI.DispSadMessage"
            android:label="@string/title_activity_disp_sad_message"
            android:parentActivityName="net.magis.BeaconPH.UI.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beacon.MainActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD9ZAqKJrtPZYgzTSQTmldg8_S1CgkJYuM" />

        <activity
            android:name="net.magis.BeaconPH.UI.SearchPerson"
            android:label="@string/title_activity_search_person"
            android:parentActivityName="net.magis.BeaconPH.UI.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.beacon.MainActivity" />
        </activity>
    </application>

</manifest>
